{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3>{% block title %} Закрытые районы Турции (Стамбул, Мерсин, Измир, Анталия) {% endblock %}</h3>
    <h5>Как это работает: </h5>
    <ol>
        <li>С сайта www.goc.gov.tr/mahalle-kapatma-duyurusu-hk2 ежедневно скачивается Excel с данными</li>
        <li>На карте отрисовывается ежедневная актуальная информация</li>
    </ol>
</div>
<div id="map" style="height: 500px"></div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        // Создаем карту
        var myMap = new ymaps.Map("map", {
            center: [29.05, 41.05],
            zoom: 10
        });
        // Добавляем полигоны на карту в цикле
        {% for key, value in polygons.items() %}
            var p = new ymaps.Polygon({{ value }}, { balloonContent: "{{ key }}" }, {
                fillColor: '#eb4438', interactivityModel: 'default#transparent',
                    strokeWidth: 1, opacity: 0.5, strokeColor: '#eb2113'
            });
            myMap.geoObjects.add(p);
        {% endfor %}

        // Добавляем точки, которые нашли в OSM
        {% for key, value in find_points.items() %}
            myMap.geoObjects.add(new ymaps.Placemark(
                {{ value }}, 
                {balloonContent: '{{ key }}'},
                {iconColor: '#cf0e0e'}
            ))
            
        {% endfor %}
        

        // И наконец, если ни полигон ни точка в OSM не найдены - ижем геокодингом в яндексе 
        {% for point in points %}
            // Поиск координат центра Нижнего Новгорода.
            ymaps.geocode('{{ point }}', { 
                results: 1
            }).then(function (res) {
                    // Выбираем первый результат геокодирования.
                    var firstGeoObject = res.geoObjects.get(0),
                        // Координаты геообъекта.
                        coords = firstGeoObject.geometry.getCoordinates();

                    myMap.geoObjects.add(firstGeoObject);

                    var myPlacemark = new ymaps.Placemark(coords, {
                    balloonContent: '{{ point }}'
                    }, {
                    iconColor: 'red'
                    });

                    myMap.geoObjects.add(myPlacemark);
                });
        {% endfor %}
    }
</script>
{% endblock %}